<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>18/10/10 11:38:36</td>   <td>0</td> <td title="&gt;&gt;Report.createReport()[pri:0, instance:testcases.Tc001_CreateLead@56235b8e]">&gt;&gt;createReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/10 11:38:36</td>   <td>671</td> <td>&nbsp;</td><td title="&gt;&gt;Tc001_CreateLead.returnData()[pri:0, instance:testcases.Tc001_CreateLead@56235b8e]">&gt;&gt;returnData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/10/10 11:38:36</td>   <td>671</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.createTest()[pri:0, instance:testcases.Tc001_CreateLead@56235b8e]">&gt;&gt;createTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/10 11:38:37</td>   <td>1529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@56235b8e]">createLead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/10 11:38:37</td>   <td>1545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@56235b8e]">createLead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
</table>
