<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>18/10/22 10:56:39</td>   <td>0</td> <td title="&gt;&gt;Report.createReport()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&gt;&gt;createReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/22 10:56:39</td>   <td>670</td> <td>&nbsp;</td><td title="&gt;&gt;Tc001_CreateLead.returnData()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&gt;&gt;returnData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/10/22 10:56:40</td>   <td>702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZoomCar.Zoom()[pri:0, instance:week3.day1.ZoomCar@4e9ba398]">Zoom</td> 
  <td>TestNG-test=Test-2@1698026533</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/22 10:56:40</td>   <td>717</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.createTest()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&gt;&gt;createTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/22 10:56:41</td>   <td>1918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/22 10:57:09</td>   <td>30089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/22 10:57:20</td>   <td>40883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.closeBrowser()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/22 10:57:21</td>   <td>41930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/22 10:57:33</td>   <td>53941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.Tc001_CreateLead@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/22 10:57:48</td>   <td>68978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.closeBrowser()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@867427847</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/22 10:57:49</td>   <td>69696</td> <td title="&lt;&lt;Report.closeReport()[pri:0, instance:testcases.Tc001_CreateLead@2286778]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
